/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}

.containers{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
	margin-top:120px;
	
	
	
}

.containers .forms{
    display: flex;
    align-items: center;
    height: 600px;
    width: 200%;
    transition: height 0.2s ease;
	margin-top:-180px;
}


.containers .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.containers.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.containers .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.containers.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.containers.active .forms{
    height: 600px;
}
.containers .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
	color:#14A93A
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color:black;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--yellow-green);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

/* for importing colors */

:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(230, 14%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --oxford-blue_a15: hsla(216, 65%, 10%, 0.15);
  --yellow-green: hsl(86, 54%, 51%);
  --smoky-black: hsl(0, 0%, 6%);
  --black-coral: hsl(231, 6%, 40%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured: hsl(240, 10%, 94%);
  --white: hsl(0, 0%, 100%);
  --white_a30: hsla(0, 0%, 100%, 0.3);
  --black: hsl(0, 0%, 0%);

  /**
   * typography
   */

  --ff-quicksand: "Quicksand", sans-serif;
  --ff-nunito_sans: "Nunito Sans", sans-serif;
  
  --fs-1: 5.5rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.6rem;
  --fs-5: 2.4rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.3rem;
  
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 40px;

  /**
   * box shadow
   */

  --shadow: 0 15px 40px 0 hsla(224, 24%, 47%, 0.1);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-60: 60px;
  --radius-50: 50px;
  --radius-30: 30px;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-5: 5px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}


